@media (min-width: 768px) {

    .title-pincipal {
        font-size: 25px;
    }

    .formulario {
        max-width: 400px;

    }

    .informacoes {
        font-size: 20px;
    }

    .formulario .input {
        padding: 3px;
        font-size: 15px;
    }

    .btn {
        font-size: 25px;
        padding: 10px 50px;
    }

    .resultado .title {
        font-size: 19px;
    }

    .resultado .p {
        font-size: 25px;
    }

    .resultado .erro {
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    .title-pincipal {
        font-size: 30px;

        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        width: 0;
        animation: typing 4s steps(40, end) forwards, blink 0.75s step-end infinite;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink {
        50% {
            border-right-color: transparent;
        }
    }
}

@media (min-width: 1440px) {
    .title-pincipal {
        font-size: 40px;
    }

    .formulario {
        max-width: 500px;
    }

    .informacoes {
        font-size: 25px;

    }

    .formulario .input {
        padding: 5px;
        font-size: 19px;
    }

    .resultado .title {
        font-size: 22px;
    }

    .resultado .p {
        font-size: 30px;
    }

    .resultado .erro {
        padding: 10px 30px;
        color: rgb(255, 255, 255);
        font-size: 30px;

    }
}